/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
#root
{
	width: 100%;
    height: 0;
    flex-grow: 1;
    /* overflow-y: scroll; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_login_fb_on{
	background-color: #4267b2;
    border-color: #4267b2;
    position: relative;
    color: #fff;
    justify-content: center;
	display: contents;
	font-size: 16px;
}
.apple_login_btn{
	height: 40px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 40px;
    border-radius: 2px;
    font-size: 1em;
	display: contents;

}

.mod-product {
  width: 100%;
  /* height: 100%; */
  /* display: flex;
  flex-direction: column;
  box-sizing: border-box; */
  /* padding: 20px; */
  /* overflow-y: scroll; */
  /* background-color: #F8FAFC; */
}
.mod-product > .category-row > button {
  padding: 10px;
  background-color: transparent;
  border: 0;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: var(--oliver-blue);
}

/* --------------------Search Dropdown-------------------- */

.search-dropdown {
	width: 100%;
	height: 6.94vw;
	position: relative;
}

.search-dropdown > input[type="text"] {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	outline: 0;
	border: 0.092vw solid #aba7af;
	border-radius: 0.74vw;
	padding: 0 7.41vw 0 6.39vw;
	font-family: Poppins;
	font-size: 1.67vw;
	font-weight: 400;
	line-height: 2.22vw;
	color: #050505;
}

.search-dropdown.open > input[type="text"] {
	border-radius: 0.74vw 0.74vw 0 0;
}

.search-dropdown > input[type="text"]:focus {
	border: 0.092vw solid var(--primary);
}

.search-dropdown > svg.left {
	position: absolute;
	left: 1.94vw;
	top: calc(50% - 1.57vw);
}

.search-dropdown > svg.right {
	position: absolute;
	right: 1.94vw;
	top: calc(50% - 1.2vw);
}

.search-dropdown > input[type="text"]:focus ~ svg path {
	fill: #00b998;
}

.search-dropdown > .option {
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 0.092vw solid var(--primary);
	border-top: 0;
	/* border-radius: var(--border-radius-medium); */
	padding: 0 7.41vw 0 6.39vw;
	font-family: Poppins;
	font-size: 1.67vw;
	font-weight: 400;
	line-height: 2.22vw;
	color: #050505;
	/* top: 75px; */
	background-color: #fff;
	display: flex;
	align-items: center;
	z-index: 100;
}

.search-dropdown > .option:last-of-type {
	border-radius: 0 0 0.74vw 0.74vw;
}

.search-dropdown > .option:hover {
	cursor: pointer;
	background-color: var(--primary);
	color: #fff;
}

/* .product-wrapper > .header > .main > p.prod-name
{    max-width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;} */
