/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
#root
{
	width: 100%;
    height: 0;
    flex-grow: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_login_fb_on{
	background-color: #4267b2;
    border-color: #4267b2;
    position: relative;
    color: #fff;
    justify-content: center;
	display: contents;
	font-size: 16px;
}
.apple_login_btn{
	height: 40px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 40px;
    border-radius: 2px;
    font-size: 1em;
	display: contents;

}

.mod-product {
  width: 100%;
  /* height: 100%; */
  /* display: flex;
  flex-direction: column;
  box-sizing: border-box; */
  /* padding: 20px; */
  /* overflow-y: scroll; */
  /* background-color: #F8FAFC; */
}
.mod-product > .category-row > button {
  padding: 10px;
  background-color: transparent;
  border: 0;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: var(--oliver-blue);
}
